<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.spartancoders.themesamples"
      android:versionCode="1"
      android:versionName="0.0.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".light.LightThemes" android:label="Light Themes" />
        <activity android:name=".light.Light1" android:label="Light 1" />
        <activity android:name=".dark.DarkThemes" android:label="Dark Themes" />
        <activity android:name=".dark.Dark1" android:label="Dark 1" android:theme="@style/Dark1" />
        <activity android:name=".patterns.Patterns" android:label="UI Patterns" />
        <activity android:name=".patterns.Actionbar" android:label="Action Bar" android:theme="@style/Actionbar" />

    </application>
    
	<supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="true"/>
	<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="4"/>
	
</manifest> 